@model CreatePortfolioVM
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description"> Basic form layout </p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Information"></label>
                        <input asp-for="Information" class="form-control" placeholder="Information">
                        <span class="text-danger" asp-validation-for="Information"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Password</label>
                        <input asp-for="Photo" class="form-control">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

